.navigation {
    display: flex;
    margin-left: 30px;
    margin-top: 6px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    border-bottom: 5px solid #685c4a;

    &.active {
        border-bottom: 5px solid #fb8b08;
    }
}

.link {
    margin-left: 5px;
    text-decoration: none;
    color: #c0b899;
    font-size: 30px;
    font-weight: bold;
}
