.navigation {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    border-bottom: 3px solid darkblue;

    &.active {
        border-bottom: 3px solid yellow;
    }
}

.link {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
