.outer {
    padding: 2px;

    border: 1px solid red;
    border-radius: 5px;
    background-color: wheat;

    .inner {
        width: 35px;
        height: 35px;

        border: 1px solid red;
        border-radius: 5px;
        background-color: #032a64;
        color: white;
    }
}