.page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.search {
    padding: 5px;
    font-size: 18px;
}

.games {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
