.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .leader {
        width: 217px;
        height: 290px;
        background-color: #d4c691;
        border-radius: 15px;

        &.empty {
            border: 2px dashed #7c6850;
            cursor: pointer;
        }
    }
}
