* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header, main {
    display: flex;
}

header {
    height: 50px;
    background-color: darkblue;
}

main {
    height: 100%;
    background-color: dodgerblue;
}
